<main class="home-container">
  <form [formGroup]="form">
    <div class="form-container">
      <label htmlFor="task">Vou trabalhar em</label>
      <input
        id="task"
        placeholder="Dê um nome para seu projeto"
        list="task-suggestions"
        formControlName="task"
      />
    
      <datalist id="task-suggestions" *ngFor="let task of taskSuggestions">
        <option [value]="task.task"></option>
      </datalist>
    
      <label htmlFor="minutesAmount">durante</label>
      <!-- [formControl]="minutesAmount" -->
      <input
        type="number"
        formControlName="minutesAmount"
        id="minutesAmount"
        placeholder="00"
        step={1}
        min={1}
        max={60}
      />
    
      <span>minutos.</span>
    </div>
    <app-countdown [minutes]="minutesTemplate" [seconds]="secondsTemplate"></app-countdown>
    <button *ngIf="activeCycle" class="stop-countdown-button" type="button" (click)="interruptCycle()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
      </svg>

       Interromper
    </button>
    <button *ngIf="!activeCycle" class="start-countdown-button" (click)="submit()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
      </svg>
      
      Iniciar
    </button>
  </form>
</main>