<div class="history-container">
  <h1>Meu histórico</h1>

  <div class="history-list">
    <table>
      <thead>
        <tr>
          <th>Tarefa</th>
          <th>Duração</th>
          <th>Início</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody *ngFor="let task of tasks">
          <tr>
            <td>{{ task.task }}</td>
            <td>{{ task.secondsAmount / 60 }} minuto{{ (task.secondsAmount / 60) > 1 ? 's' : '' }}</td>
            <td>{{ task.createdAt | date: 'dd/MM/yyyy' }}</td>
            <td>
              <span *ngIf="task.finishedAt" class="status-green">Concluído</span>
              <span *ngIf="task.interruptedAt" class="status-red">Interrompido</span>
              <span *ngIf="!task.finishedAt && !task.interruptedAt" class="status-yellow">Em andamento</span>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
