<div class="form-container">
  <label htmlFor="task">Vou trabalhar em</label>
  <input
    id="task"
    placeholder="Dê um nome para seu projeto"
    list="task-suggestions"
  />

  <datalist id="task-suggestions">
    <option value="Projeto 1"></option>
    <option value="Projeto 2"></option>
    <option value="Projeto 3"></option>
  </datalist>

  <label htmlFor="minutesAmount">durante</label>
  <input
    type="number"
    id="minutesAmount"
    placeholder="00"
    step={1}
    min={1}
    max={60}
  />

  <span>minutos.</span>
</div>